<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic_category.name %>
</p>

<%= link_to 'Edit', edit_topic_category_path(@topic_category) %> |
<%= link_to 'Back', topic_categories_path %>
